<div class="row">
  <div class="col-4 md-4 mb-4" *ngFor="let video of recommendedVideos">
    <div class="card h-100 mb-4 ">
      <div class="card-header">
        <h5 class="card-title">{{ video.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Categoría:  {{ video.categoriesVideo.nameCategory }}</h6>
      </div>
      <div class="card-body">
        <div class="video-container">
          <iframe width="100%" height="315" [src]="getEmbeddedUrl(video.url)" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="card-text">{{ video.description }}</p>
        <button class="btn btn-danger position-absolute bottom-0 end-0 m-3" (click)="editFavorite(video.id)">
          <i class=" {{ favoriteVideosIds.has(video.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
        </button>
      </div>
    </div>
  </div>
</div>