<div class="container-footer">
    <div>
    <ul class="nav justify-content-center pb-2 mb-2 ">
        <li class="nav-item"><a href="#" class="nav-link px-2 ">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 ">Contacto</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 ">Condicicones de Uso</a></li>
    </ul>
    </div>
    <div class="social-icons-widget d-flex justify-content-around align-items-be align-items-center border-bottom pb-4 mb-4">
        <a target="_blank" href="https://www.twitter.com/" rel="noopener"><i class="fab fa-twitter"
                aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/" rel="noopener"><i class="fab fa-youtube"
                aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.facebook.com/" rel="noopener"><i class="fab fa-facebook"
                aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/" rel="noopener"><i class="fab fa-instagram"
                aria-hidden="true"></i></a>
    </div>
</div>