.container-footer {
    width: 100%;
    margin: 0;
    padding: 1%;
    background-color: rgb(239, 195, 100);
}

.social-icons-widget a{
    color: rgb(242, 114, 9);
}

.social-icons-widget a:hover{
    transform: scale(1.5);
    color: rgb(148, 110, 28);
}

li a:hover {
    transform: scale(1.1);
    color:black;
}

li a {
    color: rgb(53, 52, 52);
    /* justify: space-around; */
}

.container-footer .nav-link {
    padding: 5px 5px; 
    margin: 0 10px;
}