<header class="site-header" id="masthead" aria-label="Sitio" itemtype="https://schema.org/WPHeader" itemscope="">
    <div class="inside-header grid-container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="site-logo">
                    <a href="#" title="jirafa" rel="inicio">
                        <img class="header-image" src="assets/imagenes/DdeDiVeRtIdADArriba.png" alt="Jirafa"
                            title="jirafa">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-widget text-right">
                    <aside id="custom_html-4" class="widget_text widget inner-padding widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div class="social-icons-widget d-flex justify-content-around align-items-center">
                                <a target="_blank" href="https://www.youtube.com/" rel="noopener"><i
                                        class="fab fa-youtube"></i></a>
                                <a target="_blank" href="https://www.facebook.com/" rel="noopener"><i
                                        class="fab fa-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/" rel="noopener"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</header>