.container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.fa-youtube {
    color: red;
}

.fa-instagram {
    color:blueviolet;
}

.fa-facebook {
    color: blue;
}
.login {
    color: rgb(239, 177, 7);
}

.social-icons-widget a:hover {
    transform: scale(1.5);
}

.header-image {
    margin-left: 5%;
    width: 250px;
}

.login {
   font-size: 35px;
    transition: all 0.3s ease;
}

.login a:hover {
    transform: scale(5);
}

.green-icon {
    color: rgb(7, 182, 7);
}

.red-icon {
    color: red;
}

