.container-videos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 9%;
}

.form-label {
    min-width: 80%;
}

.row {
    width: 100%;
}

.deleted:hover {
    background-color: red;
    border: red;
}

.recommended-videos {
    margin-bottom: 9%;
}