<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Cuentos</h1>
            <div *ngIf="stories && stories.length > 0">
                <div *ngFor="let story of stories">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ story.title }}</h2>
                            <div [innerHTML]="formatDescription(story.description, 50, expandedStories[story.id])">
                            </div>
                            <button class="btn btn-link" (click)="toggleExpandedStory(story.id)">
                                <strong>{{ expandedStories[story.id] ? 'Leer menos' : 'Leer más' }}</strong>
                            </button>
                            <div class="mt-auto d-flex justify-content-between align-items-end">
                                <div *ngIf="isAdmin">
                                    <button class="btn btn-warning btn-deleted " (click)="deleteStory(story.id)"
                                        title="Eliminar">
                                        <i class='fas fa-bug'></i>
                                    </button>
                                </div>
                                <button class="btn btn-danger " (click)="editFavoriteStory(story.id)">
                                    <i
                                        class=" {{ favoriteStoriesIds.has(story.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!stories || stories.length === 0">
                <p>No hay cuentos disponibles en esta categoría. Disculpen las molestias.</p>
                <img src="assets/imagenes/Story/inolibro.jpg" class="img-fluid mx-auto d-block">
            </div>
            <button class="btn btn-category" (click)="chooseOtherCategory()">Elegir otra categoría</button>
        </div>
    </div>
</div>