.btn-validated:hover {
    background-color: green;
    border: green;
}

.btn-deleted:hover {
    background-color: red;
    border: red;
}

.btn-deleted {
    color: black;
}

.btn-validated {
   background-color: rgb(60, 226, 195);
}

.image-container {
    width: 90%;
    height: 70%;
    margin: auto;
}

.image-container img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
}