<div class="container-admin">
    <div class="row">
        <h1>Entradas del blog para validar!!!</h1>
        <ng-container *ngIf="blogEntries && blogEntries.length > 0">
            <div class="col-md-6 mb-3" *ngFor="let blog of blogEntries; let i = index">
                <div class="card h-100 mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="image-container text-center mb-3">
                            <img *ngIf="blog.image" [src]="blog.image" alt="Imagen de materiales de manualidades"
                                class="img-fluid rounded align-items-center mb-3">
                        </div>
                        <div class="card-footer">
                            <p>{{ blog.description }}</p>
                            <button class="btn btn btn-validated position-absolute bottom-0 end-0 m-3"
                                (click)="editValidationBlog(blog.id)">Validar
                                <i class='far fa-check-square'></i>
                            </button>
                            <button class="btn btn-warning btn-deleted position-absolute bottom-0  m-3"
                                (click)="deleteBlog(blog.id)">Eliminar
                                <i class='fas fa-bug'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="blogEntries && blogEntries.length === 0" class="col-md-12">
            <div class="alert alert-info" role="alert">
                Todas las entradas al blog están validadas.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <h1>Añadir nuevo vídeo</h1>
            <form [formGroup]="videoForm" (ngSubmit)="onSubmitVideo()">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input formControlName="title" type="text" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>
                    <select formControlName="category" class="form-select" id="category"
                        [(ngModel)]="selectedCategoryVideo" required>
                        <option *ngFor="let category of categoriesVideo" [value]="category.id">{{ category.nameCategory
                            }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea formControlName="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input formControlName="url" type="text" class="form-control" id="url" required>
                </div>
                <button type="submit" class="btn btn-primary">Añadir vídeo</button>
            </form>
        </div>
        <div class="col-md-6 mb-3">
            <h1>Añadir nueva adivinanza</h1>
            <form [formGroup]="riddleForm" (ngSubmit)="onSubmitRiddle()">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input formControlName="title" type="text" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>
                    <select formControlName="category" class="form-select" id="category"
                        [(ngModel)]="selectedCategoryRiddle" required>
                        <option *ngFor="let category of categoriesRiddles" [value]="category.id">{{
                            category.nameCategory }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea formControlName="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="solution" class="form-label">Solución:</label>
                    <input formControlName="solution" type="text" class="form-control" id="solution" required>
                </div>
                <button type="submit" class="btn btn-primary">Añadir Adivinanza</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <h1>Añadir nuevo evento</h1>
            <form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent()">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input formControlName="title" type="text" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea formControlName="description" class="form-control" id="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="info" class="form-label">Información</label>
                    <textarea formControlName="info" class="form-control" id="info" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input formControlName="url" type="text" class="form-control" id="url" required>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="city" class="form-label">Ciudad</label>
                        <input formControlName="city" type="text" class="form-control" id="city" required>
                    </div>
                    <div class="col-md-4">
                        <label for="town" class="form-label">Población</label>
                        <input formControlName="town" type="text" class="form-control" id="town" required>
                    </div>
                    <div class="col-md-4">
                        <label for="date" class="form-label">Fecha</label>
                        <input formControlName="date" type="date" class="form-control" id="date" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="longitude" class="form-label">Longitud</label>
                        <input formControlName="longitude" type="text" class="form-control" id="longitude" required>
                    </div>
                    <div class="col-md-6">
                        <label for="latitude" class="form-label">Latitud</label>
                        <input formControlName="latitude" type="text" class="form-control" id="latitude" required>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary btn-event" (click)="fileInput.click()">Subir
                        imagen</button>
                    <input id="fileInput" type="file" (change)="onFileSelected($event)" #fileInput
                        style="display: none;">
                </div>

                <div class="mb-3 text-center">
                    <img *ngIf="showPreview" [src]="imageData" alt="Vista previa de la imagen" class="img-fluid mt-3">
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <button *ngIf="showPreview" (click)="cancelPicture()" class="btn btn-warning mt-3"
                            type="button">Quitar imagen</button>
                        <button (click)="cancelEvent()" class="btn btn-danger btn-event mt-3"
                            type="button">Cancelar</button>
                        <button (click)="onSubmitEvent()" class="btn btn-success btn-event mt-3" type="button">Añadir
                            evento</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <h1>Añadir nuevo cuento</h1>
            <form [formGroup]="storyForm" (ngSubmit)="onSubmitStory()">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input formControlName="title" type="text" class="form-control" id="title" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>
                    <select formControlName="category" class="form-select" id="category"
                        [(ngModel)]="selectedCategoryStory" required>
                        <option *ngFor="let category of categoriesStory" [value]="category.id">{{ category.nameCategory
                            }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea formControlName="description" class="form-control" id="description" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Añadir cuento</button>
            </form>
        </div>
    </div>
</div>