<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 comida custom-card">
            <div class="card-body">
                <h5 class="card-title">Comida</h5>
                <a href="#" class="btn rounded custom-btn" (click)="getCategoryRiddles('food')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 plantas custom-card">
            <div class="card-body">
                <h5 class="card-title">Plantas</h5>
                <a href="#" class=" btn rounded custom-btn" (click)="getCategoryRiddles('plants')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 animal custom-card">
            <div class="card-body">
                <h5 class="card-title">Animales</h5>
                <a href="#" class=" btn rounded custom-btn" (click)="getCategoryRiddles('animal')">VER MÁS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 familia custom-card">
            <div class="card-body">
                <h5 class="card-title">Familia</h5>
                <a href="#" class=" btn rounded custom-btn" (click)="getCategoryRiddles('family')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 musica custom-card">
            <div class="card-body">
                <h5 class="card-title">Música</h5>
                <a href="#" class=" btn rounded custom-btn" (click)="getCategoryRiddles('music')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 personas custom-card">
            <div class="card-body">
                <h5 class="card-title">Personas</h5>
                <a href="#" class=" btn rounded custom-btn" (click)="getCategoryRiddles('people')">VER MÁS</a>
            </div>
        </div>
    </div>
</div>