.custom-card {
    width: 250px;
    height: 250px;
    position: relative;
    border-color: rgb(236, 167, 30);
}

.custom-btn {
    background-color: white;
    border: 2px solid rgb(236, 167, 30);
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.custom-btn:hover {
    background-color:rgb(236, 167, 30);
    color: white;
}

.comida {
    background-image: url('/assets/imagenes/Riddle/icomida.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.plantas {
    background-image: url('/assets/imagenes/Riddle/iplanta.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.animal {
    background-image: url('/assets/imagenes/Riddle/ianimal.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.familia {
    background-image: url('/assets/imagenes/Riddle/ifamilia.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.musica {
    background-image: url('/assets/imagenes/Riddle/imusica.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.personas {
    background-image: url('/assets/imagenes/Riddle/ipersonas.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}