<div class="container-riddles">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 comida custom-card">
                <div class="card-body">
                    <h5 class="card-title">Comida</h5>
                    <a class="btn rounded custom-btn" (click)="getCategoryRiddles('food')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 plantas custom-card">
                <div class="card-body">
                    <h5 class="card-title">Plantas</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryRiddles('plants')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 animal custom-card">
                <div class="card-body">
                    <h5 class="card-title">Animales</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryRiddles('animal')">VER MÁS</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 familia custom-card">
                <div class="card-body">
                    <h5 class="card-title">Familia</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryRiddles('family')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 musica custom-card">
                <div class="card-body">
                    <h5 class="card-title">Música</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryRiddles('music')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 personas custom-card">
                <div class="card-body">
                    <h5 class="card-title">Personas</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryRiddles('people')">VER MÁS</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Adivinanzas para niños de Primaria</h2>
        <p>Muchas <strong>adivinanzas infantiles cortas</strong> tienen el objetivo de transmitir un concepto como
            pueden ser las de animales o las&nbsp;de frutas y otros objetos.<br>
            Tan sólo tienes que ir pasando entre las que hemos preparado para que lo paséis en grande ¡Empezamos!</p>
        <p style="text-align: justify;">En este recopilatorio encontrarás cientos de <strong>adivinanzas para
                niños</strong>, desde las populares más fáciles a las que son un poco más difíciles; siempre te
            facilitaremos <strong>la respuesta</strong> para que puedas poner a prueba a los más pequeños. También las
            encontrarás&nbsp;con enfoque educativo que tratan de plantear un juego lógico a los niños.</p>
        <h3>Juegos de adivinanzas a lo largo de la historia</h3>
        <p style="text-align: justify;">Las de ahora tienen su origen en la estructura y función de acertijos populares
            tradicionales de hace siglos. No se puede concretar con exactitud cuándo se comenzó a utilizar este tipo de
            juegos lógicos, pero en gran parte de la literatura antigua de muchas culturas, se encuentran artilugios
            adivinatorios que retan al lector a resolverlo.</p>
        <p style="text-align: justify;">Podemos encontrar algunas en El antiguo testamento, el Libro de Apolonio, Las
            Mil y una noches; así como cientos de de tradición griega, latina, celta, árabe, maya, germana, india o
            china… Muchas de ellas han llegado hasta nuestros días y son algunas de las <strong>más difíciles</strong>
            que más incitan a encontrar la respuesta a cualquiera que se tope con ella. Quizás por eso las que
            plantearon los autores clásicos han sobrevivido hasta nuestros días.</p>
        <h3>Función lúdica</h3>
        <p style="text-align: justify;">Ante todo, las adivinanzas tienen una función lúdica, son un pasatiempo que
            consiste en resolver un rompecabezas verbal para poder encontrar la imagen o el concepto buscado. Para
            lograr resolver una adivinanza hay que <strong>centrarse en varios aspectos</strong>, primero escuchar el
            planteamiento con atención, analizar cada palabra en busca de alguna pista</p>
        <h3>Función poética</h3>
        <p style="text-align: justify;">Otra de las funciones que podemos apreciar en las adivinanzas para niños, es el
            aspecto poético que fomenta el gusto por la palabra, el ritmo y las imágenes abstractas o figuras retóricas.
        </p>
        <p style="text-align: justify;">Uno de los <strong>muchos beneficios</strong> que tiene el juego de palabras de
            lo abstracto a lo concreto, es que las adivinanzas fomentan la imaginación de los niños y estimulan su
            capacidad creativa, lo que influye de manera notable en otras capacidades.</p>
        <h3>Función didáctica</h3>
        <p style="text-align: justify;">Otra de las características notables de una adivinanza, tanto si es una
            adivinanza difícil para adultos como adivinanzas infantiles, es el <strong>objetivo didáctico</strong> que
            desempeñan. Mediante un juego de palabras, el emisor está educando al receptor, el reto y la búsqueda de la
            solución estimulan el cerebro de este, mientras que usando el enunciado se pueden aprender nuevos conceptos
            o palabras. En definitiva, las adivinanzas infantiles nos acompañan durante toda la vida y es por eso que
            juegan un papel tan importante en el aprendizaje de los niños.</p>
    </div>
</div>