<div class="container-home">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/imagenes/ddivertida.png" class="img img-home d-block"
                alt="Jirafa con arcoiris de letras encima de la imagen">
        </div>
    </div>

    <div>
        <h1>Bienvenid&#64;s a la web <strong>&quot;D de Divertida&quot;</strong></h1>
        <p>“<strong>D de Divertida</strong>” es una aplicación web concebida para ofrecer una amplia variedad de
            sugerencias de <strong>entretenimiento familiar</strong>, abordando desde juegos clásicos y cuentos, hasta
            actividades creativas y originales. Esta iniciativa surge en un momento en el que las familias buscan formas
            de conectar y disfrutar juntas, pero a menudo se encuentran con la falta de recursos para hacerlo de manera
            significativa y divertida.</p>
        <p>El propósito fundamental de “<strong>D de Divertida</strong>” es proporcionar a padres y cuidadores una
            herramienta que les permita acceder fácilmente a <strong>ideas innovadoras</strong> para pasar tiempo de
            calidad con sus hijos, fomentando la <strong>creatividad</strong>, el <strong>aprendizaje</strong> y, sobre
            todo, la <strong>diversión</strong> en el hogar. Con una interfaz intuitiva y una selección cuidadosamente
            curada de actividades, la aplicación aspira a convertirse en un recurso indispensable en la rutina familiar.
        </p>
        <h2>Explora Nuestras Pestañas:</h2>
        <ul>
            <li><strong>Cuentos:</strong> Sumérgete en historias emocionantes y cuentos cautivadores para niños de todas las edades. Desde clásicos cuentos de hadas hasta aventuras modernas, hay algo para cada gusto.</li>
            <li><strong>Adivinanzas:</strong> Pon a prueba tu ingenio con nuestra colección de adivinanzas divertidas y desafiantes. ¡Despierta la curiosidad y la imaginación con acertijos para toda la familia!</li>
            <li><strong>Eventos:</strong> Mantente al día con los eventos especiales, celebraciones y festividades que se llevan a cabo cerca de ti. Descubre actividades locales y participa en eventos familiares inolvidables.</li>
            <li><strong>Blog de Usuarios:</strong> Únete a nuestra comunidad y comparte tus experiencias, ideas y consejos en nuestro blog. Interactúa con otros usuarios y vota por tus publicaciones favoritas en nuestro ranking de likes.</li>
            <li><strong>Videos de Manualidades y Entretenimiento:</strong> Explora nuestra amplia colección de videos educativos y divertidos, que abarcan desde manualidades creativas hasta juegos clásicos. Aprende haciendo y diviértete en familia con nuestras emocionantes actividades.</li>
        </ul>
        <h2>Nuestra Misión</h2>
        <p>En D de Divertida, estamos comprometidos a ofrecerte una experiencia enriquecedora y emocionante que fortalezca los lazos familiares y fomente la creatividad y el aprendizaje. Nuestra misión es inspirar momentos de conexión, diversión y descubrimiento entre padres, madres, cuidadores e hijos.</p>
        <p>Te invitamos a explorar todo lo que D de Divertida tiene para ofrecer y a ser parte de nuestra comunidad de entusiastas del entretenimiento familiar. ¡Esperamos que disfrutes cada momento compartido con nosotros!</p>
        <p>¡Gracias por elegir D de Divertida como tu destino para la diversión en familia!</p>
    </div>


    <div class="contacto">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Contacto</h2>
                    <p>¡Gracias por visitar D de Divertida! Si deseas ponerte en contacto con nosotros, no dudes en
                        hacerlo a través de los siguientes medios:</p>
                    <ul>
                        <li><strong>Correo Electrónico:</strong> Puedes enviarnos un correo electrónico a <a
                                href="mailto:ddivertida.app@gmail.com">ddivertida.app&#64;gmail.com</a>. Nos esforzamos
                            por responder a todos los correos electrónicos en un plazo de 24 horas.</li>
                        <li><strong>Redes Sociales:</strong> También puedes seguirnos en nuestras redes sociales para
                            mantenerte al tanto de las últimas novedades y eventos. Encuéntranos en Facebook, Twitter e
                            Instagram como "&#64;DdeDivertida".</li>
                    </ul>
                    <p>Estamos aquí para ayudarte con cualquier pregunta, comentario o sugerencia que puedas tener.
                        ¡Esperamos saber de ti pronto!</p>
                </div>

            </div>
        </div>
    </div>

    <div class="condiciones-uso">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Condiciones de Uso</h2>
                    <p>Bienvenido a D de Divertida. Por favor, lee atentamente las siguientes condiciones de uso antes
                        de utilizar nuestra web:</p>
                    <ol>
                        <li><strong>Aceptación de las Condiciones:</strong> Al acceder y utilizar nuestra web, aceptas
                            cumplir con estas condiciones de uso. Si no estás de acuerdo con alguna parte de estas
                            condiciones, por favor, no utilices nuestro sitio.</li>
                        <li><strong>Uso Apropiado:</strong> Nuestra web está diseñada para proporcionar ideas de
                            entretenimiento familiar. Te comprometes a utilizar nuestro contenido de manera apropiada y
                            respetuosa.</li>
                        <li><strong>Contenido Propio:</strong> Algunos contenidos de nuestra web pueden ser creados por
                            usuarios. No nos hacemos responsables del contenido generado por terceros, pero nos
                            esforzamos por mantener un ambiente seguro y adecuado para todos.</li>
                        <li><strong>Propiedad Intelectual:</strong> Todos los derechos de propiedad intelectual de
                            nuestra web y su contenido pertenecen a D de Divertida. No tienes permiso para utilizar
                            nuestro contenido con fines comerciales sin nuestro consentimiento.</li>
                        <li><strong>Modificaciones:</strong> Nos reservamos el derecho de modificar o actualizar estas
                            condiciones de uso en cualquier momento. Te recomendamos revisar periódicamente esta página
                            para estar al tanto de cualquier cambio.</li>
                        <li><strong>Política de Privacidad:</strong> Tu privacidad es importante para nosotros. Consulta
                            nuestra política de privacidad para obtener más información sobre cómo recopilamos,
                            utilizamos y protegemos tus datos personales.</li>
                    </ol>
                    <p>Si tienes alguna pregunta sobre nuestras condiciones de uso, no dudes en ponerte en contacto con
                        nosotros. ¡Gracias por utilizar D de Divertida!</p>
                </div>

            </div>
        </div>
    </div>
</div>