<div class="container-home">
    <h1>Bienvenid&#64;s a la web <strong>&quot;D de Divertida&quot;</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <img src="assets/imagenes/ddivertida.png" class="img img-home d-block"
                alt="Jirafa con arcoiris de letras encima de la imagen">
        </div>
    </div>

    <div class="contacto">
        <div class="row">
            <div class="col-md-12">
                <p>Si quieres contactar con nosostros, ponte en contacto en el siguiente correo electrónico: <strong>ddivertida&#64;ddivetida.es</strong></p>
            </div>
        </div>
    </div>

    <div class="condiciones-uso">
        <div class="row">
            <div class="col-md-12">
                <p>Hay que estar de acuerdo con las <strong>condiciones de uso</strong></p>
            </div>
        </div>
    </div>
</div>