<div class="container-login">
  <section class=" gradient-form" style="background-color: #eee;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="/assets/imagenes/ddivertida.png" alt="logo D de divertida jirafa con esloan en curva"
                      class="img-login">
                    <h4 class="mt-1 mb-5 pb-1">Equipo divertido!!!</h4>
                  </div>

                  <form>
                    <p>Loguéate</p>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example11"
                        placeholder="Ej: divertida@gmail.com">Email:</label>
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Inserta tu correo electrónico" [(ngModel)]="email" name="email" required/>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Contraseña:</label>
                      <input type="password" id="form2Example22" class="form-control"
                        placeholder="Inserta tu contraseña" [(ngModel)]="password" name="password" required/>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="sendLogin()">
                        Iniciar sesión</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">¿Aun no tienes cuenta?</p>
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger"
                        (click)="goToSignIn()">Crear una cuenta</button>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Úniete al equipo divertido!!!</h4>
                  <p class="small mb-0">Formando parte del equipo divertido podrás disfrutar de mucho más
                    entretenimiento sin límites y podrás participar en el blog para subir tus creaciones "más chulas".
                    Además, podrás ver los eventos más cercanos para acudir con los más peques de la familia. No
                    desaproveches esta oportunidad y registrate ¡Te esperamos!.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>