.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 80%) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 80%) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

img {
    width: 100%;
}

.container-login {
    margin-bottom: 5%;
}