.container-story {
    width: 100%;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 9%;
}

.custom-card {
    width: 250px;
    height: 250px;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
}

.custom-card::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
}

.custom-card:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
}

.custom-btn {
    background-color: white;
    border: 2px solid black;
    color: black;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.custom-btn:hover {
    background-color: black;
    color: white;
}

.clasico::before {
    background-image: url('/assets/imagenes/Story/icaperucita.png');
}

.corto::before {
    background-image: url('/assets/imagenes/Story/icorto.png');
}

.animal::before {
    background-image: url('/assets/imagenes/Story/ianimal.png');
}

.princess::before {
    background-image: url('/assets/imagenes/Story/iprincess.png');
}

.dormir::before {
    background-image: url('/assets/imagenes/Story/idormir.png');
}

.navidad::before {
    background-image: url('/assets/imagenes/Story/inavidad.png');
}

.card {
    box-shadow: 4px 2px 10px black;
    text-align: center;
}

.card-content {
    position: relative;
    z-index: 2;
}

p {
    margin-top: 10px;
}

h3 {
    font-weight: bold;
}