<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 clasico custom-card">
            <div class="card-body">
                <h5 class="card-title">Clásicos</h5>
                <a class="btn rounded custom-btn" (click)="getCategoryStory('classic')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 corto custom-card">
            <div class="card-body">
                <h5 class="card-title">Cortos</h5>
                <a class=" btn rounded custom-btn" (click)="getCategoryStory('short_story')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 animal custom-card">
            <div class="card-body">
                <h5 class="card-title">Animales</h5>
                <a class=" btn rounded custom-btn" (click)="getCategoryStory('animal')">VER MÁS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 princess custom-card">
            <div class="card-body">
                <h5 class="card-title">Príncipes y princesas</h5>
                <a class=" btn rounded custom-btn" (click)="getCategoryStory('princess')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 dormir custom-card">
            <div class="card-body">
                <h5 class="card-title">Para dormir</h5>
                <a class=" btn rounded custom-btn" (click)="getCategoryStory('sleep')">VER MÁS</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 navidad custom-card">
            <div class="card-body">
                <h5 class="card-title">Navidad</h5>
                <a class=" btn rounded custom-btn" (click)="getCategoryStory('christmas')">VER MÁS</a>
            </div>
        </div>
    </div>
</div>