<div class="container-story">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 clasico custom-card">
                <div class="card-body">
                    <h5 class="card-title">Clásicos</h5>
                    <a class="btn rounded custom-btn" (click)="getCategoryStory('classic')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 corto custom-card">
                <div class="card-body">
                    <h5 class="card-title">Cortos</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryStory('short')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 animal custom-card">
                <div class="card-body">
                    <h5 class="card-title">Animales</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryStory('animal')">VER MÁS</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 princess custom-card">
                <div class="card-body">
                    <h5 class="card-title">Príncipes y princesas</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryStory('princess')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 dormir custom-card">
                <div class="card-body">
                    <h5 class="card-title">Para dormir</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryStory('sleep')">VER MÁS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 navidad custom-card">
                <div class="card-body">
                    <h5 class="card-title">Navidad</h5>
                    <a class=" btn rounded custom-btn" (click)="getCategoryStory('christmas')">VER MÁS</a>
                </div>
            </div>
        </div>
    </div>

    <div class="elementor-element elementor-element-4c4f558e elementor-widget elementor-widget-text-editor"
        data-id="4c4f558e" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            <h2>Cuentos infantiles</h2>
            <p>Los <b>cuentos infantiles</b> están llenos de <b>historias llenas de fantasía</b>, con las que los niños
                aprenden. <b>Relatos cortos</b>&nbsp;y <b>fábulas</b>, que sin embargo están llenos de significado, y
                que, a través de su <b>moraleja</b>, permiten enseñar a los más pequeños a enfrentarse a su vida diaria.
            </p>
            <p>Los&nbsp;<strong>cuentos infantiles</strong>&nbsp;de&nbsp;Divertida harán soñar a los niños, porque no
                solo contamos con una colección de&nbsp;<strong>cuentos clásicos</strong>, también
                existen&nbsp;<strong>versiones de esos cuentos populares</strong>, adaptadas a los tiempos y valores de
                hoy en día. Preciosos&nbsp;<strong>cuentos para niños</strong>&nbsp;que fomentarán
                su&nbsp;<strong>hábito por la lectura</strong>, y que además se encuentran acompañados de
                maravillosas&nbsp;<strong>ilustraciones originales</strong>.</p>
            <p>Disfrutad juntos con los&nbsp;<strong>cuentos para dormir</strong>&nbsp;y soñar despiertos,
                con&nbsp;<strong>cuentos cortos</strong>&nbsp;y con los&nbsp;<strong>cuentos clásicos</strong>&nbsp;de
                siempre ¡en Divertida los tenemos todos!</p>
            <h3>Cuentos infantiles, la mejor herramienta de aprendizaje</h3>
            <p>En Divertida comprendemos&nbsp;<strong>la importancia de los cuentos infantiles</strong>, y por ello nos
                volcamos en hacer llegar a todos los niños sus&nbsp;<strong>cuentos favoritos</strong>, adaptándolos a
                su vocabulario y teniendo en cuenta su capacidad de atención, que normalmente es reducida, de ahí la
                importancia de los&nbsp;<strong>cuentos cortos</strong>, que concentran en pocas palabras mucha
                enseñanza.</p>
            <p>Habitualmente nuestros cuentos están adaptados a las diferentes edades en las que los niños disfrutan con
                la lectura de un cuento infantil. Es a través de estas&nbsp;<strong>historias sencillas y
                    divertidas</strong>&nbsp;como los niños hacen suyos esos mensajes, y los incorporan a su vida
                diaria.</p>
            <h3>Cuentos de hoy y de siempre</h3>
            <p>Los&nbsp;<strong>cuentos</strong>&nbsp;existen desde siempre, podríamos casi asegurar que nacieron al
                mismo tiempo que el hombre, y se han ido transmitiendo de generación en generación hasta nuestros días.
            </p>
            <p>El porqué es evidente,&nbsp;<strong>los cuentos infantiles</strong>&nbsp;están diseñados para enseñar y
                aportan muchos beneficios a los niños que conviene tener en cuenta. Es a través de
                estas&nbsp;<strong>historias o fábulas</strong>&nbsp;como los niños aprenden lo que de otra forma les
                costaría entender. Su mente transforma el&nbsp;<strong>cuento infantil</strong>&nbsp;en una idea
                abstracta que le lleva a entender su moraleja, y al mismo tiempo nos sirve a padres y profesores como
                vehículo de comunicación sobre el mensaje que les queremos hacer llegar.</p>
        </div>
    </div>
</div>