<div class="container-events">
  <div class="intro-section">
    <h2>Eventos para Niños y Familias</h2>
    <p>
      ¡Bienvenidos a nuestra sección de eventos para niños y familias! Aquí encontrarás una gran variedad de actividades
      diseñadas para disfrutar en familia. Ya sea que estés buscando eventos cercanos a tu ubicación, actividades en
      otras poblaciones, o simplemente los eventos más próximos en el tiempo, ¡tenemos algo para todos!
    </p>
    <p>
      Utiliza las opciones de búsqueda para encontrar el evento perfecto:
    </p>
    <ul>
      <li><strong>Población:</strong> Filtra los eventos por la población donde se llevarán a cabo.</li>
      <li><strong>Más cercanos:</strong> Encuentra los eventos más próximos a tu ubicación actual.</li>
      <li><strong>Más lejanos:</strong> Descubre eventos interesantes en localidades más alejadas.</li>
      <li><strong>Fecha más cercana:</strong> No te pierdas los eventos que se llevarán a cabo próximamente.</li>
    </ul>
    <p>
      Selecciona una población específica para ver solo los eventos de esa localidad, o deja que te sorprendamos con
      eventos cercanos y emocionantes. ¡Diviértete explorando y planificando tus próximas salidas familiares!
    </p>
  </div>

  <div class="row">
    <div class="col-12 w-100">
      <div class="row">
        <div class="col-6 mb-3 text-start">
          <label class="form-label">Buscar por:</label>
          <select class="form-select" [(ngModel)]="selectedCategoryEvents" (change)="onChangeSelected()">
            <option value="town">Población</option>
            <option value="nearby" selected>Más cercanos</option>
            <option value="far">Más lejanos</option>
            <option value="closestDate">Fecha más cercana</option>
          </select>
        </div>
        <div class="col-6 mb-3 text-start" [hidden]="selectedCategoryEvents !== 'town'">
          <label class="form-label">Selecciona una población:</label>
          <select class="form-select" [(ngModel)]="townSelected" (change)="filterEvents()">
            <option *ngFor="let town of ListTowns" [value]="town">{{ town }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="row d-flex justify-content-center align-items-center h-100">
    <div *ngIf="isLoading" class="col-md-12">
      <div class="alert alert-info" role="alert">
        <p>Cargando eventos, por favor espera...</p>
      </div>
    </div>
    <div *ngIf="!isLoading && eventsList.length > 0" class="d-flex align-items-stretch">
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let event of sortedEventsList">
          <div class="card border card-background h-100 mb-4">
            <div class="card-header">
              <h2 class="card-title">{{ event.title }}</h2>
              <h6 class="card-subtitle mb-2 text-muted">Fecha:{{ formatSpanishDate(event.date) }}</h6>
              <h5 class="card-tittle mb-2 ">Localización: {{ event.town }}, {{ event.city }}</h5>
              <img [src]="event.image" class="card-img-top" alt="{{ event.title }}">
            </div>
            <div class="card-body text-center">
              <div [innerHTML]="formatDescription(event.description, 30, expandedEvents[event.id] )"></div>
              <button (click)="toggleExpandidedEvent(event.id)" class="btn btn-primary botton-read">
                <strong>{{ expandedEvents[event.id] ? 'Leer menos' : 'Leer más' }}</strong>
              </button>
              <div *ngIf="expandedEvents[event.id]" class="info-container">
                <p><strong>Información:</strong> {{ event.info }}</p>
              </div>
            </div>
            <div class="card-footer">
              <p class="web-link text-start"><a href="{{ event.url }}" target="_blank">Ir a la WEB</a></p>
              <button class="btn btn-danger position-absolute bottom-0 end-0 m-3" (click)="editFavoriteEvent(event.id)">
                <i class=" {{ favoriteEventsIds.has(event.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
              </button>
              <div *ngIf="isAdmin">
                <button class="btn btn-warning btn-deleted position-absolute bottom-0 m-3"
                  (click)="deleteEvent(event.id)" title="Eliminar">
                  <i class='fas fa-bug'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && eventsList.length === 0">
      <div class="col-md-12 ">
        <div class="alert alert-info" role="alert">
          <p> No hay Eventos en este momento, disculpen las molestias.</p>
          <img src="assets/imagenes/eventos.png" class="img" alt="Jirafa con carte de 'No hay eventos'">
        </div>
      </div>
    </div>
  </div>
</div>