.container-events {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.botton-read {
  font-size: 18px;
  font-weight: bold;
  color: rgb(244, 185, 113);
  background-color: #e07407;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.botton-read:hover {
  transform: scale(1.1);
}

.info-container {
  margin-bottom: 10px;
}

.web-link {
  margin: 10px;
  text-align: right;
}

.web-link a {
  color: green;
  text-decoration: none;
}

.web-link a:hover {
  color: #e07407;
}

.card-background {
  background-color: #ede3ce;
}

.card-img-top {
  width: 80%;
}

.card-body {
  margin-bottom: 5px;
}

.form-label {
  min-width: 80%;
  text-align: left;
}

.row {
  width: 100%;
}