<div class="container-events">
  <div *ngIf="eventsList.length > 0">
    <div class="row">
      <div class="col-md-6" *ngFor="let event of sortedEventsList">
        <div class="card border card-background">
          <div class="card-header">
            <h5 class="card-title">{{ event.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Fecha: {{ event.date }}</h6>
            <img [src]="event.image" class="card-img-top" alt="{{ event.title }}">
          </div>
          <div class="card-body text-center">
            <div [innerHTML]="formatDescription(event.description, 30, expandedEvents[event.id] )"></div>
            <button (click)="toggleExpandidedEvent(event.id)" class="btn btn-primary botton-read">
              <strong>{{ expandedEvents[event.id]  ? 'Leer menos' : 'Leer más' }}</strong>
            </button>
            <div *ngIf="expandedEvents[event.id]" class="info-container">
              <p><strong>Información:</strong> {{ event.info }}</p>
            </div>
          </div>
          <div class="card-footer">
            <p class="web-link text-start"><a href="{{ event.url }}" target="_blank">Ir a la WEB</a></p>
            <button class="btn btn-danger position-absolute bottom-0 end-0 m-3" (click)="editFavoriteEvent(event.id)">
              <i class=" {{ favoriteEventsIds.has(event.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="eventsList.length === 0">
    <div class="col-md-12 ">
      <div class="alert alert-info" role="alert">
        <p> No hay Eventos en este momento, disculpen las molestias.</p>
        <img src="assets/imagenes/eventos.png" class="img" alt="Jirafa con carte de 'No hay eventos'">
      </div>
    </div>
  </div>
</div>