
<div class="container-favorites">
  <ng-container *ngIf="isLoggedIn">
    <div class="Videos">
      <h1>Vídeos favoritos!!!</h1>
      <div class="row">
        <div class="col-12 col-md-{{ favoriteVideosList.length === 1 ? '12' : '6' }} mb-3"
          *ngFor="let video of favoriteVideosList">
          <div class="card h-100 mb-4 card-video">
            <div class="card-header">
              <h5 class="card-title">{{ video.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Categoría:{{ video.categoriesVideo.nameCategory }}</h6>
            </div>
            <div class="video-container">
              <iframe width="100%" height="315" [src]="getEmbeddedUrl(video.url)" frameborder="0"
                allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">{{ video.description }}</p>
              <button class="btn btn-danger position-absolute bottom-0 end-0 m-3" (click)="editFavoriteVideo(video.id)">
                <i class=" {{ favoriteVideosIds.has(video.id) ? 'fas fa-heart' : 'far fa-heart' }}"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="favoriteVideosList.length === 0">
        <div class="alert alert-warning" role="alert">
          No tienes videos favoritos. ¡Añade alguno!
        </div>
        <button class="btn btn-per" (click)="goToVideosPage()">Ir a vídeos</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>Cuentos favoritos!!!</h1>
        <div *ngIf="favoriteStoriesList.length > 0">
          <div *ngFor="let story of favoriteStoriesList">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ story.title }}</h5>
                <!-- Mostrar solo las primeras 30 palabras si la historia no está expandida -->
                <p class="card-text">{{ (expandedStories[story.id] ? story.description :
                  story.description.split(' ').slice(0, 30).join(' ')) }}</p>
                <!-- Botón para expandir/cerrar la historia -->
                <button class="btn btn-link" (click)="toggleExpandedStory(story.id)">
                  {{ expandedStories[story.id] ? 'Leer menos' : 'Leer más' }}
                </button>
                <button class="btn btn-danger position-absolute bottom-0 end-0 m-3"
                  (click)="editFavoriteStory(story.id)">
                  <i class=" {{ favoriteStoriesIds.has(story.id) ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                </button>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="favoriteStoriesList.length === 0">
          <div class="alert alert-warning" role="alert">
            No tienes Cuentos favoritos. ¡Añade alguno!
          </div>
          <button class="btn btn-per" (click)="goToStoriesPage()">Ir a Cuentos</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="Adivinanzas">
          <h1>Adivinanzas favoritas!!!</h1>
          <div *ngIf="favoriteRiddlesList.length > 0">
            <div *ngFor="let riddle of favoriteRiddlesList">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ riddle.title }}</h5>
                  <!-- Mostrar solo las primeras 30 palabras si la historia no está expandida -->
                  <p class="card-text">{{ (expandedRiddles[riddle.id] ? riddle.description :
                    riddle.description.split(' ').slice(0, 30).join(' ')) }}</p>
                  <!-- Botón para expandir/cerrar la historia -->
                  <button class="btn btn-link" (click)="toggleExpandedRiddles(riddle.id)">
                    {{ expandedRiddles[riddle.id] ? 'Leer menos' : 'Leer más' }}
                  </button>
                  <button class="btn btn-danger position-absolute bottom-0 end-0 m-3"
                    (click)="editFavoriteRiddle(riddle.id)">
                    <i class=" {{ favoriteRiddlesIds.has(riddle.id) ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="favoriteRiddlesList.length === 0">
          <div class="alert alert-warning" role="alert">
            No tienes Adivinanzas favoritas. ¡Añade alguna!
          </div>
          <button class="btn btn-per" (click)="goToRiddlesPage()">Ir a Adivinanzas</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="Eventos">
        <h1>Eventos favoritos!!!</h1>
        <div *ngIf="favoriteEventsList.length > 0">
          <div class="col-md-6" *ngFor="let event of favoriteEventsList">
            <div class="card border card-background-event">
              <div class="card-header">
                <h5 class="card-title">{{ event.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center">Fecha: {{ event.date }}</h6>
                <img [src]="event.image" class="card-img-top" alt="Event Image">
              </div>
              <div class="card-body text-center">
                <div [innerHTML]="formatDescription(event.description, 30, event.expand)"></div>
                <button (click)="toggleExpandidedEvent(event)" class="btn btn-primary botton-read">
                  <strong>{{ event.expand ? 'Leer menos' : 'Leer más' }}</strong>
                </button>
                <div *ngIf="event.expand" class="info-container">
                  <p><strong>Información:</strong> {{ event.info }}</p>
                </div>
              </div>
              <div class="card-footer">
                <p class="web-link text-start"><a href="{{ event.url }}" target="_blank">Ir a la WEB</a></p>
                <button class="btn btn-danger position-absolute bottom-0 end-0 m-3"
                  (click)="editFavoriteEvent(event.id)">
                  <i class=" {{ favoriteEventsIds.has(event.id) ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="favoriteEventsList.length === 0">
        <div class="alert alert-warning" role="alert">
          No tienes Eventos favoritos. ¡Añade alguno!
        </div>
        <button class="btn btn-per" (click)="goToEventsPage()">Ir a Eventos</button>
      </div>
    </div>

  </ng-container>
  <div *ngIf="!isLoggedIn">
    <p class="mt-3">No estás logueado. Por favor inicia sesión para ver tus favoritos.</p>
    <button class="btn btn-per" (click)="openLogin()">Iniciar Sesión</button>
  </div>
</div>