<!-- <div class="container-favorites">
    <ng-container class="videosFavorites" *ngIf="isLoggedIn">
        <div class="row">
            <div class="col-md-4" *ngFor="let video of favoriteVideosList">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Categoría: {{ video.categoriesVideo.nameCategory }}
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" [src]="getEmbeddedUrl(video.url)" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                        <p class="card-text">{{ video.description }}</p>
                        <button class="btn btn-outline-danger" (click)="editFavorite(video.id)">
                            <i class="bi bi-heart-fill" *ngIf="favoriteVideosIds.has(video.id)"></i>
                            <i class="bi bi-heart" *ngIf="!favoriteVideosIds.has(video.id)"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="favoriteVideosList.length === 0 && isLoggedIn" class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    No tienes videos favoritos, ¡añade alguno!
                </div>
                <button class="btn btn-dark" (click)="goToVideosPage()">Ir a vídeos</button>
            </div>
        </div>
        <div *ngIf="!isLoggedIn" class="row">
            <div class="col">
                <p class="mt-3">No estás logueado. Por favor inicia sesión para ver tus vídeos favoritos.</p>
                <button class="btn btn-primary" (click)="openLogin()">Iniciar Sesión</button>
            </div>
        </div>
    </ng-container>
</div> -->

<div class="container-favorites">
    <ng-container *ngIf="isLoggedIn">
        <div *ngIf="favoriteVideosList.length > 0">
            <div id="videoCarousel" class="carousel slide"data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let video of favoriteVideosList; let i = index"
                        [class.active]="i === 0">
                        <div class="card h-100 mb-4">
                            <div class="card-header">
                              <h5 class="card-title">{{ video.title }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Categoría:{{ video.categoriesVideo.nameCategory }}</h6>
                            </div>
                            <div class="video-container">
                              <iframe width="100%" height="315" [src]="getEmbeddedUrl(video.url)" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                              <p class="card-text">{{ video.description }}</p>
                              <button class="btn btn-danger position-absolute bottom-0 end-0 m-3" (click)="editFavoriteVideo(video.id)">
                                <i class=" {{ favoriteVideosIds.has(video.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
                              </button>
                            </div>
                          </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>                
            </div>
        </div>
        <div *ngIf="favoriteVideosList.length === 0">
            <div class="alert alert-warning" role="alert">
                No tienes videos favoritos, ¡añade alguno!
            </div>
            <button class="btn btn-dark" (click)="goToVideosPage()">Ir a vídeos</button>
        </div>
    </ng-container>
    <div *ngIf="!isLoggedIn">
        <p class="mt-3">No estás logueado. Por favor inicia sesión para ver tus vídeos favoritos.</p>
        <button class="btn btn-primary" (click)="openLogin()">Iniciar Sesión</button>
    </div>
</div>
