<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Adivinanzas</h1>
            <div *ngIf="riddles && riddles.length > 0">
                <div *ngFor="let riddle of riddles">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">{{ riddle.title }}</h2>
                            <div [innerHTML]="formatDescription(riddle.description, 50, expandedRiddles[riddle.id])">
                            </div>
                            <button class="btn btn-link" (click)="toggleExpandedRiddles(riddle.id)">
                                <strong>{{ expandedRiddles[riddle.id] ? 'Leer menos' : 'Leer más' }}</strong>
                            </button>
                            <div class="mt-auto d-flex justify-content-between align-items-end">
                                <div *ngIf="isAdmin">
                                    <button class="btn btn-warning btn-deleted " (click)="deleteRiddle(riddle.id)"
                                        title="Eliminar">
                                        <i class='fas fa-bug'></i>
                                    </button>
                                </div>
                                <button class="btn btn-danger " (click)="editFavoriteRiddle(riddle.id)">
                                    <i
                                        class=" {{ favoriteRiddlesIds.has(riddle.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!riddles || riddles.length === 0">
                <p>No hay adivinanzas disponibles en esta categoría. Disculpen las molestias.</p>
                <img src="assets/imagenes/Story/inolibro.jpg" class="img-fluid mx-auto d-block">
            </div>
            <button class="btn btn-category" (click)="chooseOtherCategory()">Elegir otra categoría</button>
        </div>
    </div>
</div>