<div class="container">
    <h1>Adivinanzas</h1>
    <div *ngIf="riddles && riddles.length > 0">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let riddle of riddles">
                <div class="card h-100 mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ riddle.title }}</h2>
                        <div class="description">{{riddle.description}}
                        </div>
                        <button class="btn btn-success solution" (click)="toggleExpandedSolution(riddle.id)">
                            {{ expandedSolution[riddle.id] ? 'Ocultar solución' : 'Ver solución' }}
                        </button>
                        <div *ngIf="expandedSolution[riddle.id]">
                            <p>{{ riddle.solution }}</p>
                        </div>
                        <div class="mt-auto d-flex justify-content-between align-items-end">
                            <div *ngIf="isAdmin">
                                <button class="btn btn-warning btn-deleted " (click)="deleteRiddle(riddle.id)"
                                    title="Eliminar">
                                    <i class='fas fa-bug'></i>
                                </button>
                                <button class="btn btn-dark color-light btn-edit " (click)="startEditing(riddle.id)"
                                    title="Modificar">
                                    <i class='fas fa-pen-square'></i>
                                </button>
                            </div>
                            <button class="btn btn-danger " (click)="editFavoriteRiddle(riddle.id)">
                                <i
                                    class=" {{ favoriteRiddlesIds.has(riddle.id) ? 'far fa-heart' : 'fas fa-heart' }}"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="editingRiddleId === riddle.id" class="card-body">
                        <form (ngSubmit)="saveEditRiddle(riddle)">
                            <div class="form-group">
                                <label for="title-{{ riddle.id }}">Título</label>
                                <input type="text" class="form-control" id="title-{{ riddle.id }}"
                                    [(ngModel)]="riddle.title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="description-{{ riddle.id }}">Descripción</label>
                                <textarea class="form-control" id="description-{{ riddle.id }}"
                                    [(ngModel)]="riddle.description" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="solution-{{ riddle.id }}">Solución</label>
                                <textarea class="form-control" id="solution-{{ riddle.id }}"
                                    [(ngModel)]="riddle.solution" name="solution"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!riddles || riddles.length === 0">
            <p>No hay adivinanzas disponibles en esta categoría. Disculpen las molestias.</p>
            <img src="assets/imagenes/Story/inolibro.jpg" class="img-fluid mx-auto d-block">
        </div>
        <button class="btn btn-category" (click)="chooseOtherCategory()">Elegir otra categoría</button>
    </div>
</div>