.img-fluid {
  width: 25%;
}

.btn-link {
  font-size: 18px;
  font-weight: bold;
  color: rgb(16, 16, 16);
  background-color: #e07407;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn-link:hover {
  transform: scale(1.1);
}

.btn-category {
  font-size: 18px;
  font-weight: bold;
  color: rgb(234, 134, 12);
  background-color: #170c00;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.btn-category:hover {
  transform: scale(1.1);
}

.solution {
  margin-top:10px;
  margin-bottom: 10px;
}

.btn-edit {
  margin-left: 10px;
}

.riddles {
  margin-bottom: 9%;
}

.card {
  box-shadow: 4px 2px 8px rgb(205, 231, 160);
  background-color: rgb(221, 240, 221);
}

.btn-success {
  margin:5px;
}

.btn-secundary {
  margin:5px;
}