<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h2>¡Participa en nuestro blog y gana!</h2>
          <p>Comparte tus manualidades más divertidas en nuestro tablón y entra en el sorteo de una taza personalizada
            con el logo de "D de Divertida".</p>
            <button (click)="openBlogEntryForm()" class="btn btn-success btn-block">Participar en el Blog</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h2>¡Ya puedes ver cuantos LIKES tiene tu creación!</h2>
          <button (click)="openRankingModal()" class="btn btn-dark btn-block mt-auto"><i class="fas fa-thumbs-up"></i> Ranking
            de likes</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row">
    <ng-container *ngIf="blogEntries && blogEntries.length > 0">
      <div *ngFor="let entry of blogEntries" class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ entry.title }}</h5>
          </div>
          <div class="card-body">
            <img *ngIf="entry.image" [src]="entry.image" alt="Imagen de materiales de manualidades" class="img-fluid">
            <p>{{ entry.description }}</p>
            <button (click)="likeBlog(entry.id)" class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="blogEntries && blogEntries.length === 0" class="col-md-12">
      <div class="alert alert-info" role="alert">
        No hay entradas en el blog.
      </div>
    </div>
  </div>
</div>