<div class="container-blog">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h2>¡Participa en nuestro blog y gana!</h2>
                    <p>Comparte tus manualidades más divertidas en nuestro tablón.</p>
                    <button (click)="openBlogEntryForm()" class="btn btn-success btn-block">Participar en el
                        Blog</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h2>¡Ya puedes ver cuántos LIKES tiene tu creación!</h2>
                    <button (click)="openRanking()" class="btn btn-dark btn-block mt-auto"><i
                            class="fas fa-thumbs-up"></i>
                        Ranking de likes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ng-container *ngIf="blogEntries && blogEntries.length > 0">
            <div class="col-md-6 mb-3" *ngFor="let entry of blogEntries; let i = index">
                <div class="card h-100 mb-4">
                    <div class="card-header">
                        <h5 class="card-title">{{ entry.title }}</h5>
                    </div>
                    <div class="card-body mb-3">
                        <div class="image-container text-center mb-3">
                            <img *ngIf="entry.image" [src]="entry.image" alt="{{ entry.title }}"
                                class="img-fluid rounded align-items-center mb-3">
                        </div>
                        <div class="card-footer mb.3">
                            <p>{{ entry.description }}</p>
                            <button (click)="likeBlog(entry.id)"
                                class="btn btn-primary  position-absolute bottom-0 end-0 m-3">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                            <div *ngIf="isAdmin">
                                <button class="btn btn-warning btn-deleted position-absolute bottom-0  m-3"
                                    (click)="deleteBlog(entry.id)" title="Eliminar">
                                    <i class='fas fa-bug'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="blogEntries && blogEntries.length === 0" class="col-md-12">
            <div class="alert alert-info" role="alert">
                No hay entradas en el blog.
            </div>
        </div>
    </div>
</div>